<div class="main-page" style="text-align:center;
margin-top: 60px;">
    <h3>Welcome to</h3>
    <h1>NiliFlix</h1>
    <br><br>
    <p>Log into Your Account</p>
    <button mat-raised-button (click)="openUserLoginDialog()" color="primary">
        Login
    </button>
    <br><br>
    <p>Don't have an account?</p>
    <p>Sign up here</p>
    <!-- Adding the click event on the signup button -->
    <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary">
        Sign Up
    </button>
    <br><br>
</div>