<div class="welcome-container">
    <mat-card class="mat-elevation-z10">
        <h2>Welcome to</h2>
        <mat-card-header>
            <img src="assets/niliflix.png" alt="NiliFlix logo" class="logo" />
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button (click)="openUserLoginDialog()">
                Login
            </button>
        </mat-card-actions>
        <br>
        <p>Don't have an account?</p>
        <mat-card-actions>
            <!-- Adding the click event on the signup button -->
            <button mat-raised-button (click)="openUserRegistrationDialog()">
                Sign Up
            </button>
        </mat-card-actions>
    </mat-card>
</div>